:root{
    --Raleway: 'Raleway', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;

    --white: #FFFFFF;
    --grafite: #333333;

    --primary-green: #02DE7F;
    --primary-blue: #2D5BFF;

    --low-pure: #F2F2F2;
    --low-light: #E0E0E0;
    --low-medium: #BDBDBD;
    --low-dark: #828282;

    --line-xs:  115.2%;
    --line-sm:  120%;
    --line-md:  133%;
    --line-lg:  150%;
    --line-xl:  170%;
    --line-xxl: 200%;
    
    --font-xs: 24px;
    --font-sm: 32px;
    --font-md: 48px;
    --font-lg: 72px;
    --font-xl: 96px;
    --font-xxl: 208px;

    --border-circular: 50%


}
body a{
    color: #FFFFFF;
}
body{
    
    scroll-behavior: smooth;
}

#body{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}